body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

/*===================================
SECTION HERO
=====================================*/

#hero .navbar-nav li a {
  color: #fff;
}

.hero-bg-image {
  background-image: url("/assets/images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 100vw;
  margin: 0 auto;
}

.bgChangeScroll {
  backdrop-filter: blur(20px);
}

.bgChangeScroll700 {
  background-color: black;
}

button.navbar-toggler {
  border-color: #fff;
  width: 50px;
  box-shadow: none !important;
}

span.navbar-toggler-icon {
  color: #fff;
  width: 25px;
}

.hero-text {
  border: 1px solid #fff;
  position: absolute;
  top: 45%;
  left: 15%;
  right: 10%;
  width: 250px;
}

.hero-text p {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1;
  margin-top: 20px;
}

/*===================================
SECTION VIRTUAL REALITY
=====================================*/

.vr-bg-image {
  background-image: url("/assets/images/mobile/image-interactive.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
}

section h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

section#virtual-reality p {
  color: hsl(0, 0%, 55%);
}

/*===================================
SECTION OUR CREATIONS
=====================================*/

section#our-creations {
  min-height: 600px;
}

section#our-creations button {
  color: #fff;
  background-color: #22a39f;
}

section#our-creations img {
  height: 200px;
  object-fit: cover;
}

/*===================================
FOOTER
=====================================*/

#footer .container {
  background-color: hsl(0, 0%, 0%);
  color: #fff;
}

#footer #social-links li {
  transition: 0.5s;
}

#footer #social-links li:hover {
  cursor: pointer;
  transform: translateY(-8px);
}

#footer span.copyright {
  color: hsl(0, 0%, 100%, 0.5);
}

/*===================================
ATTRIBUTION
=====================================*/

.attribution {
  font-size: 12px;
}

/*===================================
MEDIA QUERIES
=====================================*/

/* mobile */
@media screen and (max-width: 767px) {
  #hero .navbar-nav {
    backdrop-filter: blur(10px);
  }

  #hero .navbar-nav li a:hover {
    background-color: #3232ff;
  }

  section#our-creations aside {
    margin-bottom: 20px;
  }

  #footer #social-links {
    padding: 0 130px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  #hero-header .navbar-brand img {
    width: 250px;
  }

  #hero-header .navbar-nav li a {
    font-size: 1.2rem;
  }

  .hero-bg-image {
    background-image: url("/assets/images/desktop/image-hero.jpg");
    background-position: center;
  }

  .hero-text {
    width: 500px;
  }

  .hero-text p {
    font-size: 60px;
    margin-left: 20px;
  }

  .vr-bg-image {
    background-image: url("/assets/images/desktop/image-interactive.jpg");
    background-repeat: no-repeat;
  }

  section#our-creations img {
    height: 300px;
  }
}

/* laptop */
@media screen and (min-width: 1000px) {
  #virtual-reality .container .row {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 600px;
  }

  .vr-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    background-size: cover;
  }

  #vr-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 350px;
    text-align: left;
    padding: 50px 0 0 50px;
  }

  #vr-text p {
    font-size: 11px;
  }
}
